.collapseWrapper {
  margin-top: 50px;
  text-align: center;
  margin-left: -100px;
  color: red;
  position: relative;
  padding: 12 px 16 px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 1.5715;
  cursor: pointer;
  transition: all 0.3s, visibility 0s;
}

.ant-collapse-header {
  color: blue;
}
