.progressBarWrapper {
    width: 300px;
    margin: 0 auto;
} 
.indexedStep {
    color: white;
    width: 20px;
    height: 20px;
    font-size: 12px;
    background-color: #C4C4C4;
    border: 1px solid white;
    border-radius: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .indexedStep.accomplished {
    background-color: #AACC00;
  }