.userName{
  text-align: center;
  margin-top: 100px;
}

.emailUser {
  text-align: center;
  color: #C4C4C4;
}

 
.pwd-container input {
  font-size: 17px;
  border-style: none;
  width: 120px;
  outline: none;
}

.pwd-container input:hover {
  border-style: none;
}
 
.pwd-container img {
  cursor: pointer;
  position: absolute;
  width: 20px;
}

.userProgress {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 100px;
}

.progressList {
  width: 235px;
  height: 170px;
  background-color: #cfebdb;
  padding: 20px;
  border-radius: 20px;
}

.progressList p {
  text-align: center;
  
}

.progressList img {
  margin-left: 70px;
}


.form-grup {
  display: block;
  text-align: center;
}

.form-grup img {
  height: 20px;
}

