.dateDisplay {
  display: flex !important;
  margin-left: 20px;
}

.dayDisplay {
  display: flex !important;
  margin-left: 30px;
}

.Calender {
  margin-left: 400px;
  margin-bottom: 20px;
}

.displayDate {
  margin-left: 200px;
  margin-bottom: 20px;
}
.displayDay  {
  display: flex !important;
}