.horizontalNavbar {
  display: flex;
  height: 130px;
  background-color: white;
  width: 1440px;
  margin-left: 120px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.userWrapper {
  display: flex;
  flex-direction: row;
  place-items: center;
  margin-left: auto;
  padding-right: 180px;
  gap: 50px;
}

.bell img {
  display: flex;
  width: 28px;
  height: 28px;
}

.sideNavbar {
  font-size: 18px;
  height: 100%;
  width: 120px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menuBar {
  background-color: white;
  margin-left: -120px;
  width: 120px;
  height: 150px;
  display: flex;
}

.menuBar svg {
  margin-left: 50px;
  margin-top: 60px;
  width: 28px;
  height: 28px;
  display: flex;
}

.sideNavbarList {
  height: 100%;
  width: 100%;
  padding: 0;
  /* margin-top: 20px; */
}

.sideNavbarList.subList {
  height: 120px;
}

.logoWrapper {
  width: 160px;
  height: 130px;
  margin-left: 20px;
  margin-top: 10px;
  place-items: center;
}

.logo img {
  height: 70px;
  width: auto;
  place-items: center;
  padding-top: 10px;
  /* margin-left: -10px; */
}

.tagline p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  text-align: left;
  color: #8e8e8e;
  padding-left: 10px;
  /* margin-top: -10px; */
}

.sideNavbarList .row {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  width: 100%;
  height: 120px;
  list-style-type: none;
  margin: 0%;
  margin-top: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sideNavbarList .row:hover {
  cursor: pointer;
  /* color: #0e9c4a ;
    fill:#0e9c4a; */
  background-color: rgb(227, 227, 227);
}

/* .sideNavbarList .row:hover {
    background-image: url("dinner.svg");
} */

.sideNavbarList #active {
  background-color: rgb(227, 227, 227);
}
/* #icon svg g {
    fill: tomato;
    background-color: violet;
} */

/* .HomeIcon path:hover {
    fill:#0e9c4a;
} */

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
  margin-top: 30px;
}

.row #title {
  flex: 70%;
  width: 100px;
  padding-top: 10px;
  text-align: center;
}

#userProfile a {
  text-decoration: none;
  color: black;
}
